<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.220725.3035720" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.220725.3034302" targetFramework="net48" />
  <package id="BouncyCastle" version="1.8.9" targetFramework="net48" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net48" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net48" />
  <package id="DotNetZip" version="1.16.0" targetFramework="net48" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="Ghostscript.NET" version="1.2.3" targetFramework="net48" />
  <package id="itext7" version="7.2.2" targetFramework="net48" />
  <package id="itext7.commons" version="7.2.2" targetFramework="net48" />
  <package id="iTextSharp" version="5.5.13.3" targetFramework="net48" />
  <package id="johnHurliman.math._calculus_._LIB_" version="1.0.1" targetFramework="net48" />
  <package id="MathNet.Iridium" version="1.0.1.32096" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="miroslavStampar.math._calculus_._LIB_" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="nilnul._bit_._LIB_" version="1.1.220802.63652" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.220728.135832" targetFramework="net48" />
  <package id="nilnul._fs_._LIB_" version="2.1.220731.173848" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.220728.135041" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.220725.44007" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.220818.45643" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.220728.134352" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.220728.133856" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.220729.83601" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.220801.144705" targetFramework="net48" />
  <package id="nilnul._win_._LIB_" version="1.1.220729.94015" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.220731.165341" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.220728.140313" targetFramework="net48" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.220729.125019" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.220731.183914" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.220728.140110" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.220728.140804" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.220803.84409" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.220725.160835" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.220803.154509" targetFramework="net48" />
  <package id="nilnul.set._discrete_._LIB_" version="1.0.7713.29418" targetFramework="net48" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net48" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.0.7863.31102" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>